/*body
{
    background: chocolate;
}*/
.main
{
    margin-top: 100px;
}
.search_button
{
    width: 400px;
    display: block;
    padding-top: ;

}
.google_img
{ 
    width: 300px;
    display: block;
}

